---
import "../styles/globals.css";
import Footer from "../components/Footer.astro";
import HomeSection from "../sections/HomeSection.astro";
import Navigation from "../components/Navigation.astro";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
  <Navigation />
  <main>
    <HomeSection />
  </main>
  <Footer />
</RootLayout>
