---
import logo from "../images/cyan_white.png";
import styles from "../styles/navigation.module.css";
---

<nav>
  <div class={styles.logo}>
    <img src={logo} alt="Logo Joezer Gullo" />
  </div>
</nav>
