---
import SectionLayout from "../layouts/SectionLayout.astro";
import styles from "../styles/home.module.css";
---

<SectionLayout>
  <div class={styles.container}>
    <h4>Hola! mi nombre es</h4>
    <h2>Joezer Gabriel Gullo.</h2>
    <h2 class={styles.secondary}>Construyo soluciones web.</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui ut eveniet
      molestias, aliquid deserunt consectetur numquam maxime ipsum aperiam cum
      inventore doloribus ullam? Nostrum quibusdam est sint animi numquam
      cumque!
    </p>
  </div>
</SectionLayout>
